<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>151912156719-673dnbdn9p1g2uur8ssj4aa08abee971.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.151912156719-673dnbdn9p1g2uur8ssj4aa08abee971</string>
	<key>API_KEY</key>
	<string>AIzaSyD8EWno7vcFrO8V4O9H-TJwtQ9dbxmEkSY</string>
	<key>GCM_SENDER_ID</key>
	<string>151912156719</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gavinFindingGrandmaApp</string>
	<key>PROJECT_ID</key>
	<string>family-tracker-app-d79c8</string>
	<key>STORAGE_BUCKET</key>
	<string>family-tracker-app-d79c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:151912156719:ios:dc6e6fe13b0f2b85e000da</string>
	<key>DATABASE_URL</key>
	<string>https://family-tracker-app-d79c8-default-rtdb.firebaseio.com</string>
</dict>
</plist>